.Rproj.user
.Rhistory
.RData
.Ruserdata
dseqr.data.Rproj

#symphony references
data-raw/symphony/scmuscle.qs
inst/extdata/scmuscle_reference.qs
inst/extdata/scmuscle_uwot_model

# azimuth references
inst/extdata/human_pbmc.qs
inst/extdata/human_lung.qs
inst/extdata/human_lung_v2.qs
inst/extdata/human_motorcortex.qs
inst/extdata/human_bonemarrow.qs
inst/extdata/mouse_motorcortex.qs
inst/extdata/human_differentiated_tcell.qs
inst/extdata/mouse_virus_cd4_tcells.qs
inst/extdata/mouse_virus_cd8_tcells.qs
inst/extdata/mouse_til_tcells.qs
inst/extdata/human_stimulated_pbmc.qs
inst/extdata/human_fetus.qs
data-raw/azimuth/tcell_effectorness/data/*
data-raw/azimuth/human_fetus/*

# drug effect size data (new users dl from s3)
inst/extdata/cmap_es_ind.qs
inst/extdata/cmap_pval.adj_ind.rds
inst/extdata/l1000_es.rds
inst/extdata/l1000_drugs_es.qs
inst/extdata/l1000_genes_es.qs
inst/extdata/lincs2_drugs_es.qs
inst/extdata/lincs2_genes_es.qs
inst/extdata/lincs2_drugs_annot.rds
inst/extdata/lincs2_drugs_pdata.rds
inst/extdata/lincs2_genes_annot.rds
inst/extdata/lincs2_genes_pdata.rds
inst/extdata/l1000_pval.adj.qs
inst/extdata/l1000_pval.qs

# broad repurposing hub downloads
data-raw/drug_annot/repurposing_*.txt

# siamese model
inst/extdata/siamese_model.pt

# progeny
data-raw/progeny/zscores.rds
data-raw/progeny/model.rds
data-raw/progeny/signal_genes.rds

data-raw/velocity/EnsDb.Hsapiens.v94/*

data-raw/azimuth/**/*.qs
data-raw/azimuth/**/*.rds
data-raw/azimuth/**/*.h5ad
data-raw/azimuth/**/*.h5



inst/indices/*
inst/doc
